
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Quản Lý Chi Tiêu | Phòng Của Sơn</title>



    <link rel="stylesheet prefetch" href="~/Content/bootstrap.min.css" />

    <link rel="stylesheet" href="~/Content/css/Login/style.css">


</head>

<body>
    <div class="wrapper">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-signin" }))
        {
            <h2 class="form-signin-heading">Please login</h2>
            <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
            <input type="password" class="form-control" name="password" placeholder="Password" required="" />
            <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        }

    </div>


</body>
</html>
